<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clock.dao.DynamicMapper">
  <resultMap id="BaseResultMap" type="com.clock.bean.Dynamic">
    <id column="did" jdbcType="INTEGER" property="did" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="dTime" jdbcType="TIMESTAMP" property="dtime" />
    <result column="support" jdbcType="INTEGER" property="support" />
    <result column="dReplyCount" jdbcType="INTEGER" property="dreplycount" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.clock.bean.Dynamic">
    <result column="dconcern" jdbcType="LONGVARCHAR" property="dconcern" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    did, tid, uid, dTime, support, dReplyCount
  </sql>
  <sql id="Blob_Column_List">
    dconcern
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.clock.bean.DynamicExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dynamic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.clock.bean.DynamicExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dynamic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dynamic
    where did = #{did,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dynamic
    where did = #{did,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.clock.bean.DynamicExample">
    delete from dynamic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.clock.bean.Dynamic">
    <selectKey keyProperty="did" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dynamic (tid, uid, dTime, 
      support, dReplyCount, dconcern
      )
    values (#{tid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{dtime,jdbcType=TIMESTAMP}, 
      #{support,jdbcType=INTEGER}, #{dreplycount,jdbcType=INTEGER}, #{dconcern,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.clock.bean.Dynamic">
    <selectKey keyProperty="did" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dynamic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        tid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="dtime != null">
        dTime,
      </if>
      <if test="support != null">
        support,
      </if>
      <if test="dreplycount != null">
        dReplyCount,
      </if>
      <if test="dconcern != null">
        dconcern,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="dtime != null">
        #{dtime,jdbcType=TIMESTAMP},
      </if>
      <if test="support != null">
        #{support,jdbcType=INTEGER},
      </if>
      <if test="dreplycount != null">
        #{dreplycount,jdbcType=INTEGER},
      </if>
      <if test="dconcern != null">
        #{dconcern,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.clock.bean.DynamicExample" resultType="java.lang.Long">
    select count(*) from dynamic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dynamic
    <set>
      <if test="record.did != null">
        did = #{record.did,jdbcType=INTEGER},
      </if>
      <if test="record.tid != null">
        tid = #{record.tid,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.dtime != null">
        dTime = #{record.dtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.support != null">
        support = #{record.support,jdbcType=INTEGER},
      </if>
      <if test="record.dreplycount != null">
        dReplyCount = #{record.dreplycount,jdbcType=INTEGER},
      </if>
      <if test="record.dconcern != null">
        dconcern = #{record.dconcern,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update dynamic
    set did = #{record.did,jdbcType=INTEGER},
      tid = #{record.tid,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      dTime = #{record.dtime,jdbcType=TIMESTAMP},
      support = #{record.support,jdbcType=INTEGER},
      dReplyCount = #{record.dreplycount,jdbcType=INTEGER},
      dconcern = #{record.dconcern,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dynamic
    set did = #{record.did,jdbcType=INTEGER},
      tid = #{record.tid,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      dTime = #{record.dtime,jdbcType=TIMESTAMP},
      support = #{record.support,jdbcType=INTEGER},
      dReplyCount = #{record.dreplycount,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.clock.bean.Dynamic">
    update dynamic
    <set>
      <if test="tid != null">
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="dtime != null">
        dTime = #{dtime,jdbcType=TIMESTAMP},
      </if>
      <if test="support != null">
        support = #{support,jdbcType=INTEGER},
      </if>
      <if test="dreplycount != null">
        dReplyCount = #{dreplycount,jdbcType=INTEGER},
      </if>
      <if test="dconcern != null">
        dconcern = #{dconcern,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where did = #{did,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.clock.bean.Dynamic">
    update dynamic
    set tid = #{tid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      dTime = #{dtime,jdbcType=TIMESTAMP},
      support = #{support,jdbcType=INTEGER},
      dReplyCount = #{dreplycount,jdbcType=INTEGER},
      dconcern = #{dconcern,jdbcType=LONGVARCHAR}
    where did = #{did,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.clock.bean.Dynamic">
    update dynamic
    set tid = #{tid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      dTime = #{dtime,jdbcType=TIMESTAMP},
      support = #{support,jdbcType=INTEGER},
      dReplyCount = #{dreplycount,jdbcType=INTEGER}
    where did = #{did,jdbcType=INTEGER}
  </update>
</mapper>